$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);
$Rose_50: hsl(20, 50%, 98%);
$Rose_100: hsl(13, 31%, 94%);
$Rose_300: hsl(14, 25%, 72%);
$Rose_400: hsl(7, 20%, 60%);
$Rose_500: hsl(12, 20%, 44%);
$Rose_900: hsl(14, 65%, 9%);

@font-face {
    font-family: 'RedHatText-Bold';
    src: url('./assets/fonts/static/RedHatText-Bold.ttf')
}

@font-face {
    font-family: 'RedHatText-Regular';
    src: url('./assets/fonts/static/RedHatText-Regular.ttf')
}

@font-face {
    font-family: 'RedHatText-SemiBold';
    src: url('./assets/fonts/static/RedHatText-SemiBold.ttf')
}

body {
    background-color: $Rose_50;
}

.hidden_svg {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 50px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.content {
    background-color: $Rose_100;
    margin: 100px 50px;
    padding: 60px;
    box-shadow: 2px 4px 20px 0 gray, 2px 6px 20px 0 gray;
    display: flex;
    gap: 30px;
}

.left_side {
    width: 70%;
    font-family: "RedHatText-Regular", sans-serif;

    .title {
        font-size: 30px;
        color: $Rose_900;
        padding-bottom: 20px;
        font-family: "RedHatText-Bold", sans-serif;
    }
}

.right_side {
    width: 30%;

}

.right_side_cont {
    background-color: white;
    height: auto;
    padding: 20px;
    border-radius: 10px;

    .empty_cart {
        img {
            width: 100%;
            height: 1005;
            max-width: 300px;
        }

        .empty_cart_text {
            text-align: center;
            font-family: "RedHatText-Bold", sans-serif;
            color: $Rose_500;
        }
    }

    .cart_title {
        font-size: 22px;
        color: $red;
        font-family: "RedHatText-Bold", sans-serif;

    }

    .cart_summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $Rose_900;
        padding-top: 20px;
    }

    .cart_summary_text {
        font-family: "RedHatText-Regular", sans-serif;

    }

    .cart_summary_price {
        font-size: 22px;
        font-family: "RedHatText-Bold", sans-serif;
    }

    .delivery_info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        margin-top: 20px;
        gap: 6px;
        background-color: $Rose_100;
        width: 100%;
        border-radius: 10px;
        font-family: "RedHatText-Regular", sans-serif;
    }

    .confirm_btn {
        width: 100%;
        padding: 12px 0;
        border-radius: 20px;
        border: 0;
        margin-top: 20px;
        background-color: $red;
        color: white;
        font-family: "RedHatText-SemiBold", sans-serif;
        text-align: center;
        cursor: pointer;
        transition: background-color .3s ease;

        &:hover {
            background-color: $Rose_900;
        }
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .single_product {
        width: 100%;
    }

    .img_container {
        position: relative;
        max-width: 300px;
    }

    .add_to_cart_btn {
        width: 50%;
        position: absolute;
        padding: 7px 20px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        outline: 1px solid $red;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        flex-direction: row-reverse;
        justify-content: center;
        cursor: pointer;
        opacity: 1;
        z-index: 1;
        transition: opacity .3s ease, background-color .3s ease, color .3s ease, visibility .3s .01s ease;

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        svg g {
            transition: fill .3s ease;
        }

        &:hover {
            background-color: $red;
            color: white;

            svg g {
                fill: white;
            }
        }


    }

    .change_quantity {
        width: 50%;
        position: absolute;
        padding: 6px 20px;
        background-color: $red;
        color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        outline: 1px solid $red;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        justify-content: space-between;
        cursor: pointer;

        svg {
            width: 10px;
            height: 10px;
            padding: 5px;
            border: 1px solid white;
            border-radius: 50%;
            transition: all .3s ease;


            path {
                transition: all .3s ease;
            }

            &:hover {
                background-color: white;

                path {
                    fill: $red;
                }
            }
        }


    }

    .product_img {
        max-width: 300px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        transition: outline .3s ease;
        outline: 2px solid transparent;

        &:hover {
            outline: 2px solid $red;
        }

        &.checked {
            outline: 2px solid $red;

        }
    }

    h1 {
        font-size: 16px;
        margin: 0;
        padding-bottom: 4px;
        color: $Rose_900;

    }

    h2 {
        font-size: 16px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 4px;
        color: $Rose_300;
    }

    h3 {
        font-size: 16px;
        margin: 0;
        padding-bottom: 4px;
        color: $red;
    }



}

.cart_product {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $Rose_300;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart_prod_title {
        font-family: "RedHatText-Bold", sans-serif;
        padding-bottom: 10px;

    }

    .quantity_price {
        display: flex;
        font-family: "RedHatText-Regular", sans-serif;

    }

    .cart_quantity {
        color: $red;
        font-family: "RedHatText-Bold", sans-serif;
        padding-right: 16px;
    }

    .cart_single_price {
        color: $Rose_500;
        padding-right: 10px;
    }

    .cart_full_price {
        color: $Rose_900;
    }

    .remove_icon {
        outline: 1px solid $Rose_300;
        padding: 3px;
        border-radius: 50%;
        transition: all .3s ease;

        path {
            transition: all .3s ease;
        }

        &:hover {
            cursor: pointer;
            outline: 1px solid $Rose_500;

            path {
                fill: $Rose_500;
            }
        }
    }
}