<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
  <title>Frontend Mentor | FAQ accordion</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>

  </style>
</head>

<body>
  <div class="container">
    <div class="bgc"></div>
    <div class="card">
      <div class="title">
        <img src="../faq/assets/images/icon-star.svg" alt="">
        <span>FAQs</span>
      </div>

      <div class="accordions_cont">
        <div class="accordion">
          <div class="acc_title">Something about me and what i am bringing
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quo adipisci deleniti porro rem? Qui
            cum, ipsum eum iure deleniti ea voluptatem a impedit quod distinctio dicta quidem debitis ratione!
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">Somethiwhat i am bringing
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quo adipisci deleniti porro rem? Qui
            cum, ipsum eum iure deleniti ea voluptatem a impedit quod distinctio dicta quidem debitis ratione!
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">Something about me and what i am bringing
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quo adipisci
            deleniti porro rem? Qui
            cum, ipsum eum iure deleniti ea voluptatem a impedit quod distinctio dicta quidem debitis ratione!</div>
        </div>
        <div class="accordion">
          <div class="acc_title">Something about me and what i am bringing
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quo adipisci
            deleniti porro rem? Qui
            cum, ipsum eum iure deleniti ea voluptatem a impedit quod distinctio dicta quidem debitis ratione!</div>
        </div>

      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>