<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
  <title>Frontend Mentor | FAQ accordion</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>

  </style>
</head>

<body>
  <div class="container">
    <div class="bgc"></div>
    <div class="card">
      <div class="title">
        <img src="../faq/assets/images/icon-star.svg" alt="">
        <span>FAQs</span>
      </div>

      <div class="accordions_cont">
        <div class="accordion">
          <div class="acc_title">Who am I
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">
            Jakub, currently 25 years old, I live near a town called Nowy Sącz where i studied IT
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">My career
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">
            I worked 1.5 year in a company in the city mentioned earlier as web developer. Before that I had an
            intership in the same
            place(which was bassicaly the same as work but without a pay) to gain experience
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">What are my experiences
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content"> I have participated in many projects both foreign and domestic.
            I mainly worked with CMS Wordpress. Many plugins like ACF, Yoast and Woocommerce are not new to me.
            I also took part in a few Angular projects. During international projects i had opportunity to contact with
            many poeple through programs such as Jira, Trello or Google meetings for daily updates.
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">Technologies/Skills
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">I am proficient with using HTML and CSS with preprocessor SCSS - created many pages
            from scratch, animations and cool effects.
            <br> <br>
            Decent with JS and PHP(in WP enviroment) - I worked with many libraries such as: threejs, jQuery, swiper,
            lightbox, parsley itd.
            <br> <br>
            JS Frameworks - Beginner as I only worked with these technologies a little, either at work or at university.
            <br> <br>
            English - I think I'm at B2 level, enaught to understand documentations or converse with foreigners.
          </div>
        </div>
        <div class="accordion">
          <div class="acc_title">Something about me
            <div class="img_cont">
              <span class="line_one"></span>
              <span class="line_two"></span>
            </div>
          </div>
          <div class="acc_content">I am young easygoing person, mostly calm and composed, there are no fights with me
            cause i am not seekeing them(quote from somewhere, I don't remember where I know it from but it describes me
            well). I am always keen to learning new things, not only int field of programming but also others cultures
            and history. In my freetime i like to meet with friends to play some games or simply talk. I am also
            interested in doing sports, playing outdoor sports or going to the. gym
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>