<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="styles.css">

  <title>Frontend Mentor | Job Listings</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <img class="bg_header" src="./images/bg-header-desktop.svg" alt="">

  <div class="container">
    <div class="jobs_container">
      
    </div>
    <div class="single_job">
      <div class="job_logo">
        <img src="./images/photosnap.svg" alt="">
      </div>
      <div class="job_info">
        <div class="job_info_top">
          <div class="job_info_company">Photosnap</div>
          <div class="job_info_new">New!</div>
          <div class="job_info_featured">Featured</div>
        </div>
        <div class="job_info_middle">
          Senior Frontend Developer
        </div>
        <div class="job_info_bottom">
          <div class="job_info_posted">1d ago</div>
          <div class="dot"></div>
          <div class="job_info_contract">FullTime</div>
          <div class="dot"></div>
          <div class="job_info_location">Usa Only</div>
        </div>

      </div>
      <div class="job_roles">
        <div class="job_single_role">Frontend</div>
        <div class="job_single_role">Frontend</div>
        <div class="job_single_role">Frontend</div>
      </div>
    </div>
  </div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Your Name Here</a>.
  </div>
  <script src="./script.js"></script>
</body>

</html>