<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | [Challenge Name Here]</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="phone_shape">
        <div class="phone_top_shape">
          
        </div>
        <div class="phone_content">
          <div class="user">
            <div class="user_img"></div>
            <div class="user_info">
              <div class="user_name">
                Samuel Green
              </div>
              <div class="user_desc">
                Available to Walk
              </div>
            </div>
            <div class="user_dots"></div>
          </div>
          <div class="chats">
            <div class="left_message">
              That sounds great. I’d be happy with that.
            </div>
            <div class="left_message">
              Could you send over some pictures of your dog, please?
            </div>
            <div class="right_message">

            </div>
            <div class="right_message">
              Here are a few pictures. She’s a happy girl!
            </div>
            <div class="right_message">
              Can you make it?
            </div>
            <div class="left_message">
              She looks so happy! The time we discussed works. How long shall I take her out for?
            </div>
            <div class="left_message">
              30 minute walk
              $29
            </div>
            <div class="left_message">

              1 hour walk
              $49
            </div>

          </div>
          <div class="new_message">
            <div class="new_message_text">
              Type a message…
            </div>
            <div class="new_message_btn"></div>
          </div>
        </div>
      </div>

      <div class="desc_content">
        <div class="desc_content_title">
          Simple booking
        </div>
        <div class="desc_content_text">
          Stay in touch with our dog walkers through the chat interface. This makes it easy to
          discuss arrangements and make bookings. Once the walk has been completed you can rate
          your walker and book again all through the chat.
        </div>
      </div>
    </div>

  </div>


















  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Your Name Here</a>.
  </div>
</body>

</html>