<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./swiper-bundle-min.css">
</head>

<body>
    <a class="go_home" href="/">Home</a>
    <div class="gallery_container">
        <div><img src="./img/pexels-alex-fu-12982035.jpg" alt=""></div>
        <div><img src="./img/pexels-alina-skazka-19225765.jpg" alt=""></div>
        <div><img src="./img/pexels-carsten-kohler-17855161.jpg" alt=""></div>
        <div><img src="./img/pexels-leah-kelley-9493792.jpg" alt=""></div>
        <div><img src="./img/pexels-louis-teboul-19137864.jpg" alt=""></div>
        <div><img src="./img/pexels-nati-18374442.jpg" alt=""></div>
        <div><img src="./img/pexels-ruslan-sikunov-19073596.jpg" alt=""></div>
        <div><img src="./img/pexels-stayhereforu-16349257.jpg" alt=""></div>
        <div><img src="./img/pexels-valeriia-miller-18715721.jpg" alt=""></div>
    </div>

    <div class="modal_container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <div class="close_icon">
            x
        </div>
    </div>

    <script src="./swiper-bundle.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>